h1 Olá #{name},
p Você está recebendo esse email, para recuperar sua senha do seu usuário no CodeLab.
p Para redefinir sua senha, clique no link abaixo.

a(href=`${link}`) Redefinir sua senha

p Atenção, link válido por 24 horas.